 <section class="for-section secciones-padding">
      <div class="text-center container">
        <div class="row pb-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h3 class="heading-secundario mb-4">Carreras y Cursos</h3>
            <h2 class="display-6 fw-bold lh-1 mb-5">Formación</h2>
            <p>
              Something short and leading about the collection below—its
              contents, the creator, etc. Make it short and sweet, but not too
              short so folks don’t simply skip over it entirely.
            </p>
          </div>
        </div>
        <div class="album">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body item-card">
                    <h5 class="card-title item-fecha">2004-2012</h5>
                    <h5 class="card-title item-titulo">Carrera de Abogacia</h5>
                    <h5 class="card-title item-subtitulo">Universidad ASD</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet. Vel quod voluptatem non
                      facilis officiis sit iste vitae! Est minima cumque id
                      galisum repellat aut voluptatibus error non mollitia
                      laboriosam et delectus molestias ut animi saepe vel quia
                      quod.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body item-card">
                    <h5 class="card-title item-fecha">2022</h5>
                    <h5 class="card-title item-titulo">Se Programar</h5>
                    <h5 class="card-title item-subtitulo">Argentina Programa</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet. Vel quod voluptatem non
                      facilis officiis sit iste vitae! Est minima cumque id
                      galisum repellat aut voluptatibus error non mollitia
                      laboriosam et delectus molestias ut animi saepe vel quia
                      quod.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body item-card">
                    <h5 class="card-title item-fecha">2023</h5>
                    <h5 class="card-title item-titulo">Yo Programo</h5>
                    <h5 class="card-title item-subtitulo">Argentina Programa</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet. Vel quod voluptatem non
                      facilis officiis sit iste vitae! Est minima cumque id
                      galisum repellat aut voluptatibus error non mollitia
                      laboriosam et delectus molestias ut animi saepe vel quia
                      quod.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>