<section id="Formacion" class="for-section secciones-padding">
  <div class="text-center container">
    <div class="row pb-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h3 class="heading-secundario mb-4">Carreras y Cursos</h3>
        <h2 class="display-6 fw-bold lh-1 mb-5">Formación</h2>
      </div>
    </div>
    <div class="album text-start">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" *ngFor="let formacion of formaciones">
            <div
              *ngIf="modificandoFormacion !== formacion.id"
              class="card shadow-sm"
            >
              <div class="card-body item-card">
                <div *ngIf="estaVerificado" class="botones-edicion">
                  <button
                    class="btn btn-success botonEditar"
                    (click)="
                      abrirFormModificaFormacion(formacion.id);
                      setFormacionValues(formacion)
                    "
                  >
                    EDITAR
                  </button>
                  <button
                    class="btn btn-danger botonBorrar m-1"
                    (click)="eliminarFormacion(formacion.id)"
                  >
                    BORRAR
                  </button>
                </div>
                <h5
                  [ngClass]="{ 'mt-3': estaVerificado }"
                  class="card-title item-fecha"
                >
                  {{ formacion.fechaInicio
                  }}<span *ngIf="formacion.fechaFin">
                    hasta {{ formacion.fechaFin }}</span
                  >
                </h5>
                <h5 class="card-title item-titulo">
                  {{ formacion.formacion }}
                </h5>
                <h5 class="card-title item-subtitulo">
                  {{ formacion.lugarFormacion }}
                </h5>
                <p class="card-text">
                  {{ formacion.descripcionFormacion }}
                </p>
              </div>
            </div>
            <div
              *ngIf="modificandoFormacion === formacion.id"
              class="card shadow-sm"
            >
              <form
                [formGroup]="modificaFormacion"
                class="m-3"
                (ngSubmit)="modificarFormacion($event)"
              >
                <div class="mb-3">
                  <label for="inputFormacion" class="form-label login-label"
                    >Formacion</label
                  >
                  <input
                    type="text"
                    formControlName="formacion"
                    value="exp"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarFor('formacion')?.errors &&
                        campoModificarFor('formacion')?.touched,
                      'is-valid':
                        !campoModificarFor('formacion')?.errors &&
                        campoModificarFor('formacion')?.touched
                    }"
                    class="form-control"
                    id="inputFormacion"
                  />
                  <div
                    *ngIf="
                      campoModificarFor('formacion')?.errors &&
                      campoModificarFor('formacion')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarFor('formacion')?.hasError('required')
                      "
                      class="text-danger"
                    >
                      El campo formacion es requerido.
                    </p>
                    <p
                      *ngIf="
                        campoModificarFor('formacion')?.hasError('minlength')
                      "
                      class="text-danger"
                    >
                      El campo formacion debe tener 3 o mas caracteres.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="inputLFormacion" class="form-label login-label"
                    >Lugar de Formacion</label
                  >
                  <input
                    type="text"
                    formControlName="lugarFormacion"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarFor('lugarFormacion')?.errors &&
                        campoModificarFor('lugarFormacion')?.touched,
                      'is-valid':
                        !campoModificarFor('lugarFormacion')?.errors &&
                        campoModificarFor('lugarFormacion')?.touched
                    }"
                    class="form-control"
                    id="inputLFormacion"
                  />
                  <div
                    *ngIf="
                      campoModificarFor('lugarFormacion')?.errors &&
                      campoModificarFor('lugarFormacion')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarFor('lugarFormacion')?.hasError(
                          'required'
                        )
                      "
                      class="text-danger"
                    >
                      El campo lugar de formacion es requerido.
                    </p>
                    <p
                      *ngIf="
                        campoModificarFor('lugarFormacion')?.hasError(
                          'minlength'
                        )
                      "
                      class="text-danger"
                    >
                      El lugar de formacion debe tener 3 o mas caracteres.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="inputFechaInicio" class="form-label login-label"
                    >Fecha de Inicio</label
                  >
                  <input
                    type="date"
                    formControlName="fechaInicio"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarFor('fechaInicio')?.errors &&
                        campoModificarFor('fechaInicio')?.touched,
                      'is-valid':
                        !campoModificarFor('fechaInicio')?.errors &&
                        campoModificarFor('fechaInicio')?.touched
                    }"
                    class="form-control"
                    id="inputFechaInicio"
                  />
                  <div
                    *ngIf="
                      campoModificarFor('fechaInicio')?.errors &&
                      campoModificarFor('fechaInicio')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarFor('fechaInicio')?.hasError('required')
                      "
                      class="text-danger"
                    >
                      El campo fecha de inicio es requerido.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="inputFechaFin" class="form-label login-label"
                    >Fecha de Fin</label
                  >
                  <input
                    type="date"
                    formControlName="fechaFin"
                    class="form-control"
                    id="inputFechaFin"
                  />
                </div>
                <div class="mb-3">
                  <label for="inputDescripcion" class="form-label login-label"
                    >Descripcion de Formacion</label
                  >
                  <input
                    type="text"
                    formControlName="descripcionFormacion"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarFor('descripcionFormacion')?.errors &&
                        campoModificarFor('descripcionFormacion')?.touched,
                      'is-valid':
                        !campoModificarFor('descripcionFormacion')?.errors &&
                        campoModificarFor('descripcionFormacion')?.touched
                    }"
                    class="form-control"
                    id="inputDescripcion"
                  />
                  <div
                    *ngIf="
                      campoModificarFor('descripcionFormacion')?.errors &&
                      campoModificarFor('descripcionFormacion')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarFor('descripcionFormacion')?.hasError(
                          'required'
                        )
                      "
                      class="text-danger"
                    >
                      El campo descripcion de formacion es requerido.
                    </p>
                    <p
                      *ngIf="
                        campoModificarFor('descripcionFormacion')?.hasError(
                          'minlength'
                        )
                      "
                      class="text-danger"
                    >
                      El descripcion de formacion debe tener 3 o mas caracteres.
                    </p>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary botonAgregar">
                  Enviar
                </button>
                <button
                  type="submit"
                  class="btn btn-danger botonBorrar ms-1"
                  (click)="cerrarFormModificaFormacion()"
                >
                  Cancelar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button
        *ngIf="!agregandoFormacion && estaVerificado"
        class="btn btn-primary botonAgregar m-3"
        (click)="abrirFormAgregarFormacion()"
      >
        AGREGAR
      </button>
      <div *ngIf="agregandoFormacion">
        <form
          [formGroup]="nuevaFormacion"
          class="m-3"
          (ngSubmit)="agregarFormacion($event)"
        >
          <div class="mb-3">
            <label for="inputFormacion" class="form-label login-label"
              >Formacion</label
            >
            <input
              type="text"
              formControlName="formacion"
              value="exp"
              [ngClass]="{
                'is-invalid':
                  campoNuevaFor('formacion')?.errors &&
                  campoNuevaFor('formacion')?.touched,
                'is-valid':
                  !campoNuevaFor('formacion')?.errors &&
                  campoNuevaFor('formacion')?.touched
              }"
              class="form-control"
              id="inputFormacion"
            />
            <div
              *ngIf="
                campoNuevaFor('formacion')?.errors &&
                campoNuevaFor('formacion')?.touched
              "
            >
              <p
                *ngIf="campoNuevaFor('formacion')?.hasError('required')"
                class="text-danger"
              >
                El campo formacion es requerido.
              </p>
              <p
                *ngIf="campoNuevaFor('formacion')?.hasError('minlength')"
                class="text-danger"
              >
                El campo formacion debe tener 3 o mas caracteres.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputLFormacion" class="form-label login-label"
              >Lugar de Formacion</label
            >
            <input
              type="text"
              formControlName="lugarFormacion"
              [ngClass]="{
                'is-invalid':
                  campoNuevaFor('lugarFormacion')?.errors &&
                  campoNuevaFor('lugarFormacion')?.touched,
                'is-valid':
                  !campoNuevaFor('lugarFormacion')?.errors &&
                  campoNuevaFor('lugarFormacion')?.touched
              }"
              class="form-control"
              id="inputLFormacion"
            />
            <div
              *ngIf="
                campoNuevaFor('lugarFormacion')?.errors &&
                campoNuevaFor('lugarFormacion')?.touched
              "
            >
              <p
                *ngIf="campoNuevaFor('lugarFormacion')?.hasError('required')"
                class="text-danger"
              >
                El campo lugar de formacion es requerido.
              </p>
              <p
                *ngIf="campoNuevaFor('lugarFormacion')?.hasError('minlength')"
                class="text-danger"
              >
                El lugar de formacion debe tener 3 o mas caracteres.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputFechaInicio" class="form-label login-label"
              >Fecha de Inicio</label
            >
            <input
              type="date"
              formControlName="fechaInicio"
              [ngClass]="{
                'is-invalid':
                  campoNuevaFor('fechaInicio')?.errors &&
                  campoNuevaFor('fechaInicio')?.touched,
                'is-valid':
                  !campoNuevaFor('fechaInicio')?.errors &&
                  campoNuevaFor('fechaInicio')?.touched
              }"
              class="form-control"
              id="inputFechaInicio"
            />
            <div
              *ngIf="
                campoNuevaFor('fechaInicio')?.errors &&
                campoNuevaFor('fechaInicio')?.touched
              "
            >
              <p
                *ngIf="campoNuevaFor('fechaInicio')?.hasError('required')"
                class="text-danger"
              >
                El campo fecha de inicio es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputFechaFin" class="form-label login-label"
              >Fecha de Fin</label
            >
            <input
              type="date"
              formControlName="fechaFin"
              class="form-control"
              id="inputFechaFin"
            />
          </div>
          <div class="mb-3">
            <label for="inputDescripcion" class="form-label login-label"
              >Descripcion de Formacion</label
            >
            <input
              type="text"
              formControlName="descripcionFormacion"
              [ngClass]="{
                'is-invalid':
                  campoNuevaFor('descripcionFormacion')?.errors &&
                  campoNuevaFor('descripcionFormacion')?.touched,
                'is-valid':
                  !campoNuevaFor('descripcionFormacion')?.errors &&
                  campoNuevaFor('descripcionFormacion')?.touched
              }"
              class="form-control"
              id="inputDescripcion"
            />
            <div
              *ngIf="
                campoNuevaFor('descripcionFormacion')?.errors &&
                campoNuevaFor('descripcionFormacion')?.touched
              "
            >
              <p
                *ngIf="
                  campoNuevaFor('descripcionFormacion')?.hasError('required')
                "
                class="text-danger"
              >
                El campo descripcion de formacion es requerido.
              </p>
              <p
                *ngIf="
                  campoNuevaFor('descripcionFormacion')?.hasError('minlength')
                "
                class="text-danger"
              >
                El descripcion de formacion debe tener 3 o mas caracteres.
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary botonAgregar">
            Enviar
          </button>
          <button
            type="submit"
            class="btn btn-danger botonBorrar ms-1"
            (click)="cerrarFormModificaFormacion()"
          >
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
