 <section class="secciones-padding for-section">
      <div class="text-center container">
        <div class="row pt-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h3 class="heading-secundario mb-4">Proyectos</h3>
            <h2 class="display-6 fw-bold lh-1 mb-5">Proyectos Web aplicados</h2>
          </div>
        </div>
        <div class="album py-5">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="assets/Proyecto1.jpg" class="card-img" />
                  <div class="card-img-overlay card-body exp-card proy-card">
                    <h5 class="card-title proy-fecha">2022-2023</h5>
                    <h5 class="card-title proy-titulo">Portfolio Personal</h5>
                    <h5 class="card-title proy-subtitulo">
                      Argentina Programa
                    </h5>
                    <p class="card-text proy-text">Proyecto perteneciente a</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>