 <section class="secciones-padding text-center container">
      <div class="row">
        <div class="col-md-6 my-auto row py-lg-5">
          <div class="mx-auto text-start">
            <h3 class="heading-secundario mb-4">Experiencia</h3>
            <h2 class="display-6 fw-bold lh-1 mb-5">Carrera Profesional</h2>
            <p>
              Something short and leading about the collection below—its
              contents, the creator, etc. Make it short and sweet, but not too
              short so folks don’t simply skip over it entirely.
            </p>
          </div>
        </div>
        <div class="col-md-6 album py-5">
          <div class="container">
            <div class="row row-cols-1 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body item-card">
                    <h5 class="card-title item-fecha">2013-2023</h5>
                    <h5 class="card-title item-titulo">Estudio De abogacia</h5>
                    <h5 class="card-title item-subtitulo">Abogado Socio</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet. Vel quod voluptatem non
                      facilis officiis sit iste vitae! Est minima cumque id
                      galisum repellat aut voluptatibus error non mollitia
                      laboriosam et delectus molestias ut animi saepe vel quia
                      quod.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>