<section id="Experiencia" class="secciones-padding text-center container">
  <div class="row">
    <div class="col-md-6 my-auto row py-lg-5">
      <div class="mx-auto text-start">
        <h3 class="heading-secundario mb-4">Experiencia</h3>
        <h2 class="display-6 fw-bold lh-1 mb-5">Carrera Profesional</h2>
        <p>
          Something short and leading about the collection below—its contents,
          the creator, etc. Make it short and sweet, but not too short so folks
          don’t simply skip over it entirely.
        </p>
      </div>
    </div>
    <div class="col-md-6 album py-5 text-start">
      <div class="container">
        <div class="row row-cols-1 g-3">
          <div class="col" *ngFor="let experiencia of experiencias">
            <div
              *ngIf="modificandoExperiencia !== experiencia.id"
              class="card shadow-sm"
            >
              <div class="card-body item-card">
                <div *ngIf="estaVerificado" class="botones-edicion">
                  <button
                    class="btn btn-success botonEditar"
                    (click)="
                      abrirFormModificaExperiencia(experiencia.id);
                      setExperienciaValues(experiencia)
                    "
                  >
                    EDITAR
                  </button>
                  <button
                    class="btn btn-danger botonBorrar m-1"
                    (click)="eliminarExperiencia(experiencia.id)"
                  >
                    BORRAR
                  </button>
                </div>
                <h5 class="card-title item-fecha">
                  {{ experiencia.fechaInicio
                  }}<span *ngIf="experiencia.fechaFin">
                    hasta {{ experiencia.fechaFin }}</span
                  >
                </h5>
                <h5 class="card-title item-titulo">
                  {{ experiencia.lugarOcupacion }}
                </h5>
                <h5 class="card-title item-subtitulo">
                  {{ experiencia.ocupacion }}
                </h5>
                <p class="card-text">{{ experiencia.descripcionOcupacion }}</p>
              </div>
            </div>
            <div
              *ngIf="modificandoExperiencia === experiencia.id"
              class="card shadow-sm"
            >
              <form
                [formGroup]="modificaExperiencia"
                class="m-3"
                (ngSubmit)="modificarExperiencia($event)"
              >
                <div class="mb-3">
                  <label for="inputOcupacion" class="form-label login-label"
                    >Ocupacion</label
                  >
                  <input
                    type="text"
                    formControlName="ocupacion"
                    value="exp"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarExp('ocupacion')?.errors &&
                        campoModificarExp('ocupacion')?.touched,
                      'is-valid':
                        !campoModificarExp('ocupacion')?.errors &&
                        campoModificarExp('ocupacion')?.touched
                    }"
                    class="form-control"
                    id="inputOcupacion"
                  />
                  <div
                    *ngIf="
                      campoModificarExp('ocupacion')?.errors &&
                      campoModificarExp('ocupacion')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarExp('ocupacion')?.hasError('required')
                      "
                      class="text-danger"
                    >
                      El campo ocupacion es requerido.
                    </p>
                    <p
                      *ngIf="
                        campoModificarExp('ocupacion')?.hasError('minlength')
                      "
                      class="text-danger"
                    >
                      La ocupacion debe tener 3 o mas caracteres.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="inputLOcupacion" class="form-label login-label"
                    >Lugar de Ocupacion</label
                  >
                  <input
                    type="text"
                    formControlName="lugarOcupacion"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarExp('lugarOcupacion')?.errors &&
                        campoModificarExp('lugarOcupacion')?.touched,
                      'is-valid':
                        !campoModificarExp('lugarOcupacion')?.errors &&
                        campoModificarExp('lugarOcupacion')?.touched
                    }"
                    class="form-control"
                    id="inputLOcupacion"
                  />
                  <div
                    *ngIf="
                      campoModificarExp('lugarOcupacion')?.errors &&
                      campoModificarExp('lugarOcupacion')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarExp('lugarOcupacion')?.hasError(
                          'required'
                        )
                      "
                      class="text-danger"
                    >
                      El campo lugar de ocupacion es requerido.
                    </p>
                    <p
                      *ngIf="
                        campoModificarExp('lugarOcupacion')?.hasError(
                          'minlength'
                        )
                      "
                      class="text-danger"
                    >
                      El lugar de ocupacion debe tener 3 o mas caracteres.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="inputFechaInicio" class="form-label login-label"
                    >Fecha de Inicio</label
                  >
                  <input
                    type="date"
                    formControlName="fechaInicio"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarExp('fechaInicio')?.errors &&
                        campoModificarExp('fechaInicio')?.touched,
                      'is-valid':
                        !campoModificarExp('fechaInicio')?.errors &&
                        campoModificarExp('fechaInicio')?.touched
                    }"
                    class="form-control"
                    id="inputFechaInicio"
                  />
                  <div
                    *ngIf="
                      campoModificarExp('fechaInicio')?.errors &&
                      campoModificarExp('fechaInicio')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarExp('fechaInicio')?.hasError('required')
                      "
                      class="text-danger"
                    >
                      El campo fecha de inicio es requerido.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="inputFechaFin" class="form-label login-label"
                    >Fecha de Fin</label
                  >
                  <input
                    type="date"
                    formControlName="fechaFin"
                    class="form-control"
                    id="inputFechaFin"
                  />
                </div>
                <div class="mb-3">
                  <label for="inputDescripcion" class="form-label login-label"
                    >Descripcion de Ocupacion</label
                  >
                  <input
                    type="text"
                    formControlName="descripcionOcupacion"
                    [ngClass]="{
                      'is-invalid':
                        campoModificarExp('descripcionOcupacion')?.errors &&
                        campoModificarExp('descripcionOcupacion')?.touched,
                      'is-valid':
                        !campoModificarExp('descripcionOcupacion')?.errors &&
                        campoModificarExp('descripcionOcupacion')?.touched
                    }"
                    class="form-control"
                    id="inputDescripcion"
                  />
                  <div
                    *ngIf="
                      campoModificarExp('descripcionOcupacion')?.errors &&
                      campoModificarExp('descripcionOcupacion')?.touched
                    "
                  >
                    <p
                      *ngIf="
                        campoModificarExp('descripcionOcupacion')?.hasError(
                          'required'
                        )
                      "
                      class="text-danger"
                    >
                      El campo descripcion de ocupacion es requerido.
                    </p>
                    <p
                      *ngIf="
                        campoModificarExp('descripcionOcupacion')?.hasError(
                          'minlength'
                        )
                      "
                      class="text-danger"
                    >
                      El descripcion de ocupacion debe tener 3 o mas caracteres.
                    </p>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary botonAgregar">
                  Enviar
                </button>
                <button
                  type="submit"
                  class="btn btn-danger botonBorrar ms-1"
                  (click)="cerrarFormModificaExperiencia()"
                >
                  Cancelar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button
        *ngIf="!agregandoExperiencia && estaVerificado"
        class="btn btn-primary botonAgregar m-3"
        (click)="abrirFormAgregarExperiencia()"
      >
        AGREGAR
      </button>
      <div *ngIf="agregandoExperiencia">
        <form
          [formGroup]="nuevaExperiencia"
          class="m-3"
          (ngSubmit)="agregarExperiencia($event)"
        >
          <div class="mb-3">
            <label for="inputOcupacion" class="form-label login-label"
              >Ocupacion</label
            >
            <input
              type="text"
              formControlName="ocupacion"
              [ngClass]="{
                'is-invalid':
                  campoNuevaExp('ocupacion')?.errors &&
                  campoNuevaExp('ocupacion')?.touched,
                'is-valid':
                  !campoNuevaExp('ocupacion')?.errors &&
                  campoNuevaExp('ocupacion')?.touched
              }"
              class="form-control"
              id="inputOcupacion"
            />
            <div
              *ngIf="
                campoNuevaExp('ocupacion')?.errors &&
                campoNuevaExp('ocupacion')?.touched
              "
            >
              <p
                *ngIf="campoNuevaExp('ocupacion')?.hasError('required')"
                class="text-danger"
              >
                El campo ocupacion es requerido.
              </p>
              <p
                *ngIf="campoNuevaExp('ocupacion')?.hasError('minlength')"
                class="text-danger"
              >
                La ocupacion debe tener 3 o mas caracteres.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputLOcupacion" class="form-label login-label"
              >Lugar de Ocupacion</label
            >
            <input
              type="text"
              formControlName="lugarOcupacion"
              [ngClass]="{
                'is-invalid':
                  campoNuevaExp('lugarOcupacion')?.errors &&
                  campoNuevaExp('lugarOcupacion')?.touched,
                'is-valid':
                  !campoNuevaExp('lugarOcupacion')?.errors &&
                  campoNuevaExp('lugarOcupacion')?.touched
              }"
              class="form-control"
              id="inputLOcupacion"
            />
            <div
              *ngIf="
                campoNuevaExp('lugarOcupacion')?.errors &&
                campoNuevaExp('lugarOcupacion')?.touched
              "
            >
              <p
                *ngIf="campoNuevaExp('lugarOcupacion')?.hasError('required')"
                class="text-danger"
              >
                El campo lugar de ocupacion es requerido.
              </p>
              <p
                *ngIf="campoNuevaExp('lugarOcupacion')?.hasError('minlength')"
                class="text-danger"
              >
                El lugar de ocupacion debe tener 3 o mas caracteres.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputFechaInicio" class="form-label login-label"
              >Fecha de Inicio</label
            >
            <input
              type="date"
              formControlName="fechaInicio"
              [ngClass]="{
                'is-invalid':
                  campoNuevaExp('fechaInicio')?.errors &&
                  campoNuevaExp('fechaInicio')?.touched,
                'is-valid':
                  !campoNuevaExp('fechaInicio')?.errors &&
                  campoNuevaExp('fechaInicio')?.touched
              }"
              class="form-control"
              id="inputFechaInicio"
            />
            <div
              *ngIf="
                campoNuevaExp('fechaInicio')?.errors &&
                campoNuevaExp('fechaInicio')?.touched
              "
            >
              <p
                *ngIf="campoNuevaExp('fechaInicio')?.hasError('required')"
                class="text-danger"
              >
                El campo fecha de inicio es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="inputFechaFin" class="form-label login-label"
              >Fecha de Fin</label
            >
            <input
              type="date"
              formControlName="fechaFin"
              class="form-control"
              id="inputFechaFin"
            />
          </div>
          <div class="mb-3">
            <label for="inputDescripcion" class="form-label login-label"
              >Descripcion de Ocupacion</label
            >
            <input
              type="text"
              formControlName="descripcionOcupacion"
              [ngClass]="{
                'is-invalid':
                  campoNuevaExp('descripcionOcupacion')?.errors &&
                  campoNuevaExp('descripcionOcupacion')?.touched,
                'is-valid':
                  !campoNuevaExp('descripcionOcupacion')?.errors &&
                  campoNuevaExp('descripcionOcupacion')?.touched
              }"
              class="form-control"
              id="inputDescripcion"
            />
            <div
              *ngIf="
                campoNuevaExp('descripcionOcupacion')?.errors &&
                campoNuevaExp('descripcionOcupacion')?.touched
              "
            >
              <p
                *ngIf="
                  campoNuevaExp('descripcionOcupacion')?.hasError('required')
                "
                class="text-danger"
              >
                El campo descripcion de ocupacion es requerido.
              </p>
              <p
                *ngIf="
                  campoNuevaExp('descripcionOcupacion')?.hasError('minlength')
                "
                class="text-danger"
              >
                El descripcion de ocupacion debe tener 3 o mas caracteres.
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary botonAgregar">
            Enviar
          </button>
          <button
            type="submit"
            class="btn btn-danger botonBorrar ms-1"
            (click)="cerrarFormAgregarExperiencia()"
          >
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
