<app-header></app-header>
<app-inicio></app-inicio>
<app-formacion></app-formacion>

<!-- Seccion proyectos -->
<section class="container">
  <h2 class="text-primary text-center mb-5">Proyectos</h2>
  <div class="row row-cols-lg-3">
    <div class="col">
      <div class="sombraproyectos card">
        <img alt="" class="card-img-top" src="{IMAGE_SRC}" />
        <div class="card-body">
          <p>Proyecto 1</p>
        </div>
        <div
          class="card-footer border-top-0 bg-transparent text-right d-flex justify-content-between align-items-center"
        >
          <a class="btn btn-primary" href="./">Ver</a>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="sombraproyectos card">
        <img alt="" class="card-img-top" src="{IMAGE_SRC}" />
        <div class="card-body">
          <p>Proyecto 2</p>
        </div>
        <div
          class="card-footer border-top-0 bg-transparent text-right d-flex justify-content-between align-items-center"
        >
          <a class="btn btn-primary" href="./">Ver</a>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="sombraproyectos card">
        <img alt="" class="card-img-top" src="{IMAGE_SRC}" />
        <div class="card-body">
          <p>Proyecto 3</p>
        </div>
        <div
          class="card-footer border-top-0 bg-transparent text-right d-flex justify-content-between align-items-center"
        >
          <a class="btn btn-primary" href="./">Ver</a>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</section>