/* --- Estilos Skills --- */
.skills-progr {
  height: 30px;
}
.skills-progr > div {
  background-color: var(--menta);
  font-size: 16px;
}
.botones-edicion-hab {
  display: flex;
  align-items: center;
  justify-content: end;
}
