 <section class="secciones-padding text-center container">
      <div class="row">
        <div class="col-md-6">
          <img
            src="assets/multicultural-group-of-marketing-managers-working.jpg"
            class="img-fluid rounded-3"
          />
        </div>
        <div class="col-md-6 ps-4 my-auto">
          <div class="mx-auto text-start">
            <h3 class="heading-secundario mb-4">Hard & Soft Skills</h3>
            <h2 class="display-6 fw-bold lh-1 mb-5">Mis Aptitudes</h2>
            <p>
              Something short and leading about the collection below—its
              contents, the creator, etc. Make it short and sweet, but not too
              short so folks don’t simply skip over it entirely.
            </p>
          </div>
          <div class="text-start mt-5">
            <h3 class="heading-secundario mb-2">Skill 1</h3>
            <div class="progress skills-progr mb-4">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 80%"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                80%
              </div>
            </div>
            <h3 class="heading-secundario mb-2">Skill 2</h3>
            <div class="progress skills-progr mb-4">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 90%"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                90%
              </div>
            </div>
            <h3 class="heading-secundario mb-2">Skill 3</h3>
            <div class="progress skills-progr mb-4">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 75%"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                75%
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>