<nav class="navbar navbar-expand-lg py-4">
  <div class="container-md">
    <a class="navbar-brand" href="#">
      <img
        class="d-block mx-auto"
        src="assets/argproglogo.png"
        alt=""
        width="130"
        height="36"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample04"
      aria-controls="navbarsExample04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/#Header">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#Experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#Formacion">Formacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#Habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#Proyectos">Proyectos</a>
        </li>
      </ul>
      <button
        *ngIf="estaVerificado"
        type="button"
        class="botoncolor btn btn-primary btn-lg gap-3"
        (click)="logout()"
      >
        Logout
      </button>
      <button
        *ngIf="!estaVerificado"
        type="button"
        class="botoncolor btn btn-primary btn-lg gap-3"
        [routerLink]="['/login']"
      >
        Login
      </button>
    </div>
  </div>
</nav>
